.header-1{
    background-color: #333333;
    height: 70px;
    margin: auto;

}

body{ 
    margin: 0;
    padding: 0;
    background-color: #151515;
    
}


.top-bar{ width: 100%;}

main {
    margin: 0 auto;
    width: 1024px;
    position: relative;
 }

 .logo{padding: 10px;
    float: left;
}

.s-m{

    position: absolute;
    left: 50%;

}


.s-m{
    position: absolute;
    left: 80%;
    top:1%;
}

.s-m a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background:#5e5a59;
    color: white;
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 22px;
    text-decoration: none;
}

.s-m a:hover{
    background: #2c3e50;
 }

 .s-m a:hover > i{
    transform: scale(1.6);
 }

 .s-m a i{
    transition: 00.4s all;
 }
